.nav {

  margin-bottom: 10px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
}

.row button{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  margin:0 1em 0 0;
  color: #000;
  background-color: rgb(116, 116, 116);
  border-radius: 7px;
  width: 120px;
  border:none!important;
}

