.container__header {
  display: flex;
  justify-content: center;
  width: 30%;
  background-color: #1e3456;
  height: 60px;
  border-radius: 10px;
  margin: auto;
  margin-top: 4px;
  align-items: center;
  padding: 3px;

}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 40px;
  margin: 0 auto;
  cursor: pointer;
}

h1:hover {
  color: #850b0b;
}

h1:hover span{
  color: #fff;
}

span {
  color: #850b0b;
  font-weight: bold;
}
